<ion-view title="Car Rental" id="page15">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/IBxeQMJQ9u1kDX8eXRkR_hamills.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p>&nbsp;</p>
      <p style="margin-bottom: 30px;">For those who prefer to drive, I can recommend:
        <a class="button button-positive button-block" href-inappbrowser="http://www.hamills.com/" title="Car rental">Hamills</a>
      </p>

      <p>If you decide to use Ann's services, mention:</p>
      <h4 class="text-center assertive">DNN Connect</h4>
      <p>
        <a class="button button-positive button-block" href="mailto:ann.hamill@hamills.com">Email Her</a>
      </p>

      <p>My only connection to Ann is that I use her any time I need to rent a car and have been doing so successfully for many years.</p>

      <p>
        <strong>Declan</strong>
      </p>
    </div>
  </ion-content>
</ion-view>