<ion-view title="Getting to the Conference" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <p style="margin-bottom:20px">
        <strong>Some information that may help in getting to the conference:</strong>
      </p>

      <h3 class="positive">Flights</h3>
      <p style="margin-bottom:20px">The two major airports that may be of use are Dublin and Shannon. Dublin has, by far, the most connections and there are good bus services from Dublin airport to Limerick.</p>
      <p style="margin-bottom:20px">
        <a class="button button-positive button-block" href-inappbrowser="https://www.skyscanner.ie" title="Skyscanner">Skyscanner </a>
        This is a good starting point when looking to see what carriers you may be able to use.</p>

      <h3 class="positive">General Info</h3>
      <p style="margin-bottom:20px">
        <a class="button button-positive button-block" href-inappbrowser="http://www.conferenceandsportsbureau.com/limerick-shannon-directions.php">Conference and Sports Bureau</a>This website site gives some info that may be of use, although some appears to be out of date.</p>

      <h3 class="positive">Ground Transportation</h3>
      <p style="margin-bottom:20px">
        <a class="button button-positive button-block" href="http://www.dublincoach.ie/services/dublin-coach-journey-planner.php">Dublin Coach</a>Provides a service from Dublin Airport to the university campus in Limerick. The route is the M7. To me, this looks like the best option.</p>

      <p style="margin-bottom:20px">
        <a class="button button-positive button-block" href="http://jjkavanagh.ie/dublin-airport-buses/dublin-airport-buses">JJ Kavanagh</a>A little more expensive, also covers this route.</p>

      <p style="margin-bottom:20px">
        <a class="button button-positive button-block" href="http://www.buseireann.ie/">Bus Eireann</a>Also provides a coach service.</p>
      <p style="margin-bottom:20px">
        <a class="button button-positive button-block" href="http://www.ul.ie/buildings/travel/plane/bus-services-shannon-airport">Shannon Airport Bus</a>
      </p>

      <h3 class="positive">Visas for Ireland</h3>
      <p>Persons travelling to Ireland may wish to check visa requirements. You can do so
        <a href-inappbrowser="https://www.dfa.ie/travel/visas/visas-for-ireland/#" title="Visa requirements">here</a>. It would be a shame to book for the event and be turned back at point of entry because you did not have the correct visa or passport.</p>
    </div>
  </ion-content>
</ion-view>