<ion-view title="Home" id="page9">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/kEkHrn5aT0eDUbSsYfBl_Conference-2018-Landscape-02.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div>
      <p>
        <span class="positive">
          <strong>Dnn Connect 2018</strong>
        </span> will be held in
        <span style="color: #00b050;">
          <strong>Ireland </strong>
        </span>for the first time, from 31
        <sup>st</sup> May to 3
        <sup>rd</sup> June.</p>

      <p>We have secured an excellent venue at the
        <a href-inappbrowser="http://www.conference.ul.ie/" title="University of Limerick">University of Limerick</a> campus. Accommodation will be in the
        <a href-inappbrowser="http://bit.ly/2j2oIn2" title="Cappavilla Village">Cappavilla Village</a> complex with sessions held in the Kemmy Business School at the college.</p>

      <p>The university is close to the famous
        <a href-inappbrowser="https://www.wildatlanticway.com/explore-the-route" title="Wild Atlantic Way">Wild Atlantic Way</a> and already some have indicated that they will be planning a holiday in Ireland to coincide with the conference.</p>
    </div>
    <a ui-sref="tabsController.info()" id="home-button1" class="button button-positive button-block icon-left ion-information-circled">Get More Information</a>
  </ion-content>
</ion-view>