<ion-view title="Hotels" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <p style="margin-bottom: 30px;">We have been asked for information on hotels in the area.&nbsp; Below is a list of some, in no particular order. We have not stayed in any so cannot recommend one over another.</p>
      <h4 class="positive">Castletroy Park Hotel (4-Star)</h4>
      <p style="margin-bottom: 30px;">The Castletroy Park Hotel has a wonderful location set amidst 14 acres of beautifully landscaped gardens overlooking the Clare hills. This hotel is a short stroll from the River Shannon and lies at the entrance to the 500 acres of Plassey Park,
        home to Ireland's youngest University - The University of Limerick. (10/15 Minute walk).
        <a class="button button-positive button-block" href-inappbrowser="https://www.castletroypark.ie/">Visit Website</a>
      </p>
      <h4 class="positive">The Absolute Hotel (4-Star)</h4>
      <p style="margin-bottom: 30px;">The Absolute Hotel Limerick, is a luxury Spa Hotel in the heart of Limerick City Centre, with a unique design and river frontage. (10 Minute drive)
        <a class="button button-positive button-block" href-inappbrowser="https://www.absolutehotel.com/">Visit Website</a>
      </p>
      <h4 class="positive">Limerick Strand Hotel (4-Star)</h4>
      <p style="margin-bottom: 30px;">Limericks newest 4* city centre hotel, sits on the banks of the majestic River Shannon just a 15 minute drive from Shannon International Airport complete with on site car parking. The glass walled 6 story modern hotel is located in the heart of
        Limerick city, just a 2 minute stroll from the main shopping and business district along with Limericks infamous attractions (15 Minute drive)
        <a class="button button-positive button-block" href-inappbrowser="https://www.strandhotellimerick.ie/">Visit Website</a>
      </p>

      <h4 class="positive">The Savoy Hotel (5-Star)</h4>
      <p style="margin-bottom: 30px;">The 5 * Savoy Hotel, Limerick is a luxurious boutique property ideally located in the heart of Limerick City. Guests can enjoy private exclusive leisure facilities, indoor pool, steam room, Jacuzzi, fitness suite with 4 treatment rooms. (14 Minute
        Drive)
        <a class="button button-positive button-block" href-inappbrowser="https://www.savoylimerick.com/">Visit Website</a>
      </p>
      <h4 class="positive">No.1 Pery Square (4-Star)</h4>
      <p>Set overlooking the tree lined "People's Park" in Limerick's historic Georgian Quarter, No.1 Pery is an iconic luxury, intimate boutique townhouse, hotel &amp; spa. Our aim has been to create a home from home experience for both the business &amp;
        leisure traveller. (16 Minute Drive)
        <a class="button button-positive button-block" href-inappbrowser="http://oneperysquare.com/">Visit Website</a>
      </p>
      <h4 class="positive">Clayton Hotel Limerick (4-Star)</h4>
      <p style="margin-bottom: 30px;">The Clayton Hotel Limerick, Ireland's Tallest Hotel, boasts an idyllic location on the River Shannon waterfront in Limerick city centre. This 17-storey building combines architectural mastery with warm interiors and exceptional service (18 Min Drive)
        <a class="button button-positive button-block" href-inappbrowser="https://www.claytonhotellimerick.com/">Visit Website</a>
      </p>
      <h4 class="positive">Greenhills Hotel ( 3-Star)</h4>
      <p style="margin-bottom: 30px;">The Greenhills Hotel Conference and Leisure centre is situated just one mile from Limerick City Centre, and 15 mins from Shannon International Airport, and is set on 3.5 acres of landscaped gardens. (20 Min drive)
        <a class="button button-positive button-block"
          href-inappbrowser="http://www.greenhillsgroup.com/">Visit Website</a>
      </p>
    </div>
  </ion-content>
</ion-view>