<ion-view title="Info" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/yZzdjfpGQ7e37WQ9b9ZP_dnn-connect-icon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://www.dnn-connect.org/events/2018/registration" id="info-button3" class="button button-positive button-block">Registration</a>
    <a href-inappbrowser="https://www.dnn-connect.org/events/2018/sponsoring" id="info-button2" class="button button-positive button-block">Sponsoring</a>
    <a href-inappbrowser="https://www.dnn-connect.org/events/2018/speaking" id="info-button4" class="button button-positive button-block">Speaking</a>
    <a ui-sref="tabsController.gettingToTheConference()" id="info-button5" class="button button-dark button-block">Getting to the Conference</a>
    <a ui-sref="tabsController.hotels()" id="info-button6" class="button button-dark button-block">Hotels</a>
    <a ui-sref="tabsController.carRental()" id="info-button7" class="button button-dark button-block">Car Rental</a>
  </ion-content>
</ion-view>