<ion-view title="Sponsors" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <div class="text-center" style="margin-bottom: 50px;">
        <h2>Thank you to
          <br>our generous sponsors!</h2>
        <hr>
      </div>
      <div class="text-center" style="margin-bottom: 50px;">
        <a href-inappbrowser="http://www.dnnsoftware.com/" title="DNN Corporation">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/DNN_logo_2013.png" alt="DNN Corporation" style="width: 80%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 30px;">
        <a href-inappbrowser="https://managed.com/" title="Managed">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/managed_300-1.png" alt="Managed" style="width: 70%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 50px;">
        <a href-inappbrowser="https://www.2sic.com/" title="2sic">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/2sic-logo-1.png" alt="2sic" style="width: 70%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 50px;">
        <a href-inappbrowser="https://www.xcess.nl/" title="XCESS">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/XCESS.jpg" alt="XCESS" style="width: 60%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 30px;">
        <a href-inappbrowser="https://www.blueboltsolutions.com/" title="BlueBolt">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/bluebolt_logo_no_shadow.jpg" alt="BlueBolt" style="width: 50%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 50px;">
        <a href-inappbrowser="https://www.40fingers.net/" title="40FINGERS">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/40Fingers.net-crop-01.01.00.png" alt="40FINGERS" style="width: 40%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 30px;">
        <a href-inappbrowser="http://glanton.com/" title="Glanton">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/Glanton_Corporate_Web_Services.png" alt="Glanton" style="width: 30%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 30px;">
        <a href-inappbrowser="http://tjeps.com/" title="Tjep's">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/Tjeps-logo.png" alt="Tjep's" style="width: 30%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 30px;">
        <a href-inappbrowser="https://www.iti-software.de/" title="IT&amp;I">
          <img src="https://www.dnn-connect.org//Portals/0/Sponsors/itiloginlogo_150.png" alt="IT&amp;I" style="width: 30%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 50px;">
        <a href-inappbrowser="https://www.cantarus.com/" title="Cantarus">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/Cantarus.png" alt="Cantarus" style="width: 30%">
        </a>
      </div>
      <div class="text-center" style="margin-bottom: 40px;">
        <a href-inappbrowser="https://www.jetbrains.com" title="JetBrains">
          <img src="https://www.dnn-connect.org/Portals/0/Sponsors/jetbrains-2.png" alt="JetBrains" style="width: 20%">
        </a>
      </div>
    </div>
    <div style="text-align: center;">
      <hr> This mobile app is
      <br> graciously made possible by...
      <hr>
      <div style="width:100%;">
        <a href-inappbrowser="https://www.nvisionative.com">
          <img src="img/8Q6Mx5cuSH2ATNm9tsg0_nvisionative_logo_without_tag.png" style="width: 50%;">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>